{% extends 'base.html' %}


{% block head %}
<title> Add </title>
{% endblock %}

{% block body %}
<form action="/add" method="POST">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" placeholder="name of player">

    <label for="Cat">Category</label>
    <input type="text" name="cat" id="cat" placeholder="category">

    <label for="URL">URL</label>

    <input type="text" name="url" id="url" placeholder="url of image">
    <input type="submit" value="Add">

</form>
{% endblock %}